.headerCls {
  position: fixed;
  left: 3.67%;
  right: 2.42%;
  top: 3.06%;
  bottom: 90.42%;
  vertical-align: middle;
}

html, body {
  height: 100%;
  width: 100%;
}
#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.logo {
  position: absolute;
  top: 17.02%;
  bottom: 20.15%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.nav-menu  ul {
  padding-left: 80%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav-menu ul > li {
  padding-right: 60px;
}

.nav-menu ul > li  a {
  font-family: Oswald;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  text-decoration: unset;
  color: #000000;
  font-weight: 500;
}

.bodyTitle {
  position: absolute;
  left: 27.81%;
  right: 23.67%;
  top: 17.17%;
  bottom: 69.31%;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 47px;
  color: #000000;
}

.bodysubTitle {

  position: absolute;
  left: 41.88%;
  right: 38.98%;
  top: 26%;
  bottom: 64.86%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #707070;

}

.illustration1 {
  background-image: url('../public/backfull.svg');
  position: fixed;
  left: 0;
  right: 0;
  top: 61%;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -3;
}

.insuranceCard {
  position: absolute;
  width: 259px;
  height: 275px;
  left: 30%;
  top: 40%;
  cursor: pointer;
}

.insuranceCard:hover {
  box-shadow: 0 8px 16px 0 rgba(117,117,117,0.15);
  
  border-radius: 10px;
}
.insuranceCard div {
  position: absolute;
  left: 0%;
  right: -1.03%;
  top: 0%;
  bottom: 0.49%;

  background: #FFFFFF;
  opacity: 0.8;
  box-shadow: 2px 9px 21px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 10px;
}
.insuranceCard:hover .type {
   font-weight: bolder;
}
.insuranceCard .type {
  position: absolute;
  left: 8.25%;
  right: 50%;
  top: 70%;
  bottom: 15%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: #424149;
}

.insuranceCard .subText {
  position: absolute;
  left: 8.25%;
  right: 46.91%;
  top: 65.53%;
  bottom: 25.73%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #757575;
}

.typeLogo {
  position: absolute;
  width: 54.36px;
  height: 54.31px;
  left: 21px;
  top: 18.69px;

}

.searchClass {
  position: absolute;
  right: 400px;
  /* height: 47px;
  width: 473px;
  background: #F8F8F8;
  border-radius: 30px;
  border-color: #F8F8F8; */
}
.searchClass .mr-sm-2 {
  height: 47px;
  width: 473px;
  background: #F8F8FE;
  border-radius: 30px;
  border-color: #F8F8F8;
  border-style: unset; 

}

::placeholder {
  text-align: center;
  font-weight: 500;

  
}

.quoteDetails {
  padding: 300px 0 0 200px;
  width: 800px;
  height: 500px;
  display: inline-block;
}

.originSelect {
  position: absolute;
  width: 338px;
  height: 75px;
  left: 200px;
  visibility: visible;

}
.travellersCount {
  position: absolute;
  width: 338px;
  height: 75px;
  left: 799px;

}
 select {
  height: 27px;
  width: 338px;
  font-family: Open Sans;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-top: 30px;
  color: #757575;
  font-weight: bold;
  border: unset;
  border-bottom: 2px solid rgba(196, 196, 196, 0.6);;

}

label, p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;

  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.plansBg {
  background-image: url('../public/plansPageBg.svg');
  position: fixed;
  width: 284.79px;
  height: 372.56px;
  right: 100px;
  top: 260.44px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -3;
}

.datePicker {
  width: 348px;
  height: 80px;
  padding-top: 120px;
  justify-content: space-evenly;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #757575;
}
.datePicker div {
  padding-top: 30px;
  
}
.tripType {
  position: absolute; 
  width: 350px;
  height: 22px;  
  padding-left: 600px;
  padding-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #757575;
}
.tripType span {
  display: inline-block;
  margin-right: 30px;
}

.travellerType {
  width: 250px;
  height: 200px;
  padding-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #757575;
  padding-left: 0px;
}
.travellerType span {
  margin-right: 30px;
  display: inline-block;
}

input[type=date] {
  margin: 0 5px;
  border: unset;
  border-bottom: 1px solid  #757575;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #757575;
}

.borderTop td {
  border-top: 1px solid rgba(196, 196, 196, 0.3);

}
.selectedProd {
  border: 2px solid #a8ff63;
  border-radius: 10px;
}
ul li:hover, li.home, li.plans { background-color: white;}
